# Source
src/
tests/
examples/

# Development
.git/
.github/
.husky/
.vscode/
.idea/
*.log
.DS_Store
.env
.env.*

# Build
coverage/
node_modules/
tsconfig.json
tsconfig.*.json
jest.config.js
.eslintrc.js
.eslintignore
.prettierrc
.prettierignore

# Docs
docs/
CONTRIBUTING.md
CHANGELOG.md
